<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ui-sales-system/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ui-sales-system/index.html [L]
</IfModule>